# Turn off directory listing
Options -Indexes

# Turn on the Rewrite Engine
RewriteEngine On

# Set the rewrite base, change this to the directory your project is in.
RewriteBase /

# Don't rewrite the url if the requested url is a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Don't rewrite the url if the requested url us a file
RewriteCond %{REQUEST_FILENAME} !-f

# Don't rewrite the url if the requested url us a link (shortcut)
RewriteCond %{REQUEST_FILENAME} !-l

# Rewrite the url.
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]